.gameBoard {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 5%;
  color: white;
}

.gridPlayer {
  flex-wrap: wrap;
  margin: 2%;
}

.gridOpponent {
  flex-wrap: wrap;
  margin: 2%;
}

.whoseTurn {
  flex-wrap: wrap;
  margin-top: 2%;
  color: white;
}

.gridRowAI {
  margin-bottom: 2px;
}

#showSunkenShip {
  color: white;
  margin-top: 2%;
  font-size: xx-large;
}
