body {
  margin: 0;
}

.mainContainer {
  background-image: linear-gradient(to left top, #158b9b, #009aa5, #00aaae, #00b9b4, #0cc9b8);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  color: white;
}

.battleshipsText {
  font-family: MedievalSharp, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 600%;
  line-height: 180%;
  flex-wrap: wrap;
  color: #ffffff;
  text-align: center;
}

.chooseMode {
  background: transparent;
  border-radius: 50px;
  border: 3px solid white;
  margin-top: 20px;
  width: 100%;
  height: 10vh;
  flex-wrap: wrap;
  cursor: pointer;
}

.chooseModeText {
  font-family: MedievalSharp, serif;
  font-style: normal;
  font-weight: 500;
  margin-top: 15px;
  font-size: 190%;
  color: white;
  flex-wrap: wrap;
  align-items: center;
}

.columnLogInLeft {
  margin-top: 3%;
  margin-left: 5%;
  height: 30%;
  padding-top: 10px;
  flex: 1;
  flex-direction: row;
}

.columnLogInRight{
  margin-top: 3%;
  margin-left: 4%;
  margin-right: 5%;
  height: 30%;
  padding-top: 10px;
  flex: 1;
  flex-direction: row;
}

.leaderBoardItem {
  background: transparent;
  border-radius: 50px;
  border: 3px solid white;
  margin-top: 20px;
  width: 40%;
  height: 10vh;
  flex-wrap: wrap;
  cursor: pointer;
}

