body {
  margin: 0;
}

.mainContainer {
  background-image: linear-gradient(to left top, #158b9b, #009aa5, #00aaae, #00b9b4, #0cc9b8);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.battleshipsText {
  font-family: MedievalSharp, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 600%;
  line-height: 180%;
  flex-wrap: wrap;
  color: #ffffff;
}

.chooseMode {
  background: transparent;
  border-radius: 50px;
  border: 3px solid white;
  margin: 0.7%;
  width: 50vh;
  height: 10vh;
  flex-wrap: wrap;
  cursor: pointer;
}

.chooseModeText {
  font-family: MedievalSharp, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 190%;
  color: white;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  margin-top: 5%;
}
