.node {
  width: 30px;
  height: 30px;
  outline: 1px solid black;
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
  background-color: #1F7A8C;
  border-radius: 5px;
}

.invisibleNode {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: -3px;
  background-color: transparent;
}

.node-filled {
  background-color: #FBD87F;
}

.node-hit {
  background-color: #CC2936;
}

.node-missed {
  background-color: lightcyan;
}
